# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List some popular languages for data science 
- List some of the popular libraries used in data sicnece
- Learn how to create markown cells to document the code

## Author
Majdi Alswais

Some of the popular languages that Data Scientists use are:
1. R
1. Python
1. Scala
1. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Panda
1. NumPy
1. caret
1. ggplot

| Data Science Tools |
|--------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

print(200/60)

3.3333333333333335